<!-- <% include ./partials/header.ejs %>

<div class="city-posts">
  <h2>Posts in <%= city.name %></h2>

  <% city.posts.forEach(function(post) { %>
    <div class="post">
      <img src="/uploads/<%= post.picture %>" alt="Post Image">
      <p><%= post.caption %></p>
      <p>By <%= post.user.username %></p>
    </div>
  <% }) %>
</div>

<% include ./partials/footer.ejs %> -->
